/* GÉNÉRAL */

:root {
    --black: #0D141C;
    --white: #F8FAFC;
    --gray: #E7EDF4;
    --blue: #0C7FF2;
    --green: #388B83;
}

* {
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    margin: 0;
    padding: 0;
    font: 400 100%/150% "Lato", sans-serif !important;
    background-color: var(--white);
}

h1 {
    display: none;
}

h2, h3 {
    font-family: "Open Sans", sans-serif !important;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    border-bottom: solid rgba(13, 20, 28, 0.5) 0.1rem;
}

#menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
}

#hamburger {
    max-width: 10%;
    margin: 0.5rem;
    padding: 0.2rem;
    border: solid 0.1rem var(--black);
}

#hamburger:hover {
    background-color: var(--gray);
}

#hamburger.background {
    background-image: url("/assets/img/cross-mark-button-svgrepo-com.png");
}

#menu.open {
    display: flex;
    border: solid 0.1rem var(--black);
}

#menu.open ul {
    margin-bottom: 0;
    padding-left: 0;
}

#menu.open li {
    padding: 1rem;
}

#menu.open li:hover {
    background-color: var(--gray);
}

nav ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--black);
}

main {
    min-height: 60vh;
}

#main-title h2 {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
}

#foot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.foot-item {
    margin-right: 1rem;
}

#foot a {
    max-width: 2rem;
    margin-bottom: 0.9rem;
}

#foot a img {
    max-width: 100%;
}

@media screen and (min-width: 1024px) {

    #main-title h2 {
        margin: auto 1rem;
        padding: 1.5rem;
    }

    #menu {
        display: flex!important;
        position: static;
        flex-direction: row;
        background: transparent;
        border: none;
        width: auto;
        justify-content: flex-end;
        padding-top: 1rem;
    }

    nav ul {
        list-style: none;
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 1rem;
    }

    nav ul li {
        margin: auto 1rem;
    }

    nav ul li a {
        padding: 2rem 2rem;
    }

    nav ul li a:hover {
        background-color: var(--gray);
    }

    main {
        min-height: 73vh;
    }

    #hamburger {
        display: none;
    }
}

/* INDEX.PHP */

#index-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    margin: auto;
}

#hero-banner {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ab-image {
    max-width: 35%;
    height: auto;
    border-radius: 1rem;
}

#inventory-button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inventory-button a {
    padding: 1rem 2rem;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 1rem;
    border: none;
    transition: transform 0.3s;
}

#inventory-button a:hover {
    transform: scale(1.2);
}

/* LISTE.PHP */

#list-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45rem;
    margin-top: 4rem;
}

#ab-table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#ab-table table {
    border-collapse: separate;
    border-spacing: 0;
    border: solid var(--gray) 0.1rem;
    border-radius: 1rem;
    overflow: hidden;
}

#ab-table th,
#ab-table td {
    text-align: center;
    vertical-align: middle;
    padding: 2rem;
    border: solid var(--gray) 0.1rem;
}

#list-title-container a {
    padding: 0.5rem 1rem;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 0.5rem;
    border: none;
    transition: transform 0.3s;
}

#list-title-container a:hover {
    transform: scale(1.2);
}

/* AJOUTER.PHP */

#add-title-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 4rem;
    margin-left: 30rem;
}

.form-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 2rem;
    margin-left: 30rem;
}

.input-container {
    margin: 1rem 0.5rem;
    max-height: 4.5rem;
}

.input-container label {
    margin-bottom: 0.3rem;
}

.input-container .text-input {
    padding: 0.5rem;
    border: solid var(--gray) 0.1rem;
    border-radius: 0.5rem;
}

#add-btn {
    padding: 0.5rem 1rem;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 0.5rem;
    border: none;
    transition: transform 0.3s;
}

#add-btn:hover {
    transform: scale(1.2);
}

/* MODIFIER.PHP */

#modify-title-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 4rem;
    margin-left: 30rem;
}

.input-container #ab-name {
    min-width: 15rem;
}

.input-container .select-input {
    padding: 0.5rem;
    border: solid var(--gray) 0.1rem;
    border-radius: 0.5rem;
}

#modify-btn {
    padding: 0.5rem 1rem;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 0.5rem;
    border: none;
    transition: transform 0.3s;
}

#modify-btn:hover {
    transform: scale(1.2);
}

/* SUPPRIMER.PHP */

#delete-title-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 4rem;
    margin-left: 30rem;
}

#delete-btn {
    padding: 0.5rem 1rem;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 0.5rem;
    border: none;
    transition: transform 0.3s;
}

#delete-btn:hover {
    transform: scale(1.2);
}

/* SUCCESS.PHP */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h4 {
    margin-top: 10rem;
    color: var(--green);
}

.container a {
    margin-top: 4rem;
    padding: 0.5rem 1rem;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 0.5rem;
    border: none;
    transition: transform 0.3s;
}

.container a:hover {
    transform: scale(1.2);
    color: var(--white);
    background-color: var(--blue);
}


